@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin:0;
    
    
}
.title, main{
    font-family: Roboto, sans-serif;
}
nav, h1{
    font-family: Spectral, serif;
}
nav{
    border-bottom: 1px solid rgb(37, 36, 36);
    position: sticky;
    top:0;
    z-index: 1;
    
}
.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7rem;
    
}
nav ul, aside ul{
    margin:0;
    padding:0;
    list-style-type: none;
    display: flex;
    
}
nav ul{
    justify-content: space-between;
}
nav li{
    padding: 10px 15px;
}
nav li:nth-of-type(5){
    background-color: black;
    color:white;
    border-radius: 20px;
} 
.navigation, .start{
    background-color: #ffc017;
}
.title{
    padding: 4.5rem 0 4.5rem 7rem;
    width:35rem;
}
h1{
    margin:0;
    font-size: 3.5em;
}
.title p{
    font-size: 17.2px;
    margin-bottom: 2.2em;
}
.title a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 7px 32px;
}
.start{
    display: flex;
    justify-content: space-between;
    height: 23rem;
}
.rated{
    padding: 2.2rem 7rem;
    border-bottom: 1px solid lightgray;
}
.trend{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.trend span{
    margin-left: 10px;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 23rem;
}
.article{
    width: 33%;
    display: flex;
    height: 8em;
}
.article>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.article>span{
    margin-right: 10px;
    font-size: 35px;
    font-weight: bold;
    opacity: 0.3;
}
.articleSpan img{
    width: 30px;
    border-radius: 100%;
}
.articleSpan{
    display: flex;
    align-items: center;
}
.articleSpan span{
    margin-left:10px;
}
/* .articleSpan:nth-of-type(1), .articleSpan:nth-of-type(3), .articleSpan:nth-of-type(4){
    padding-top: 6px;
}
.articleSpan:nth-of-type(2), .articleSpan:nth-of-type(5), .articleSpan:nth-of-type(6){
    padding-top: 0;
}  */

.article h5{
    font-size: 16px;
    margin:0
}

.container{
    display:flex;
    justify-content: space-between;
    padding: 4.5rem 7rem 4.5rem 7rem;
}
.cardcontainer{
    display: flex;
    flex-direction: column;
    height: 2000px;
    justify-content: space-around;
}
.cardcontainer article{
    display: flex;
    margin-bottom: 4rem;
    height: 16rem;
}
.container article>img{
    width:40%;
    margin-left: 30px;

}
.containerSpan{
    display: flex;
    align-items: center;
}
.containerSpan span{
    margin-left:10px
}
.cardcontainer article>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 23px;
}
.containerSpan img{
    width:30px;
    border-radius: 100%;
}
img.rectangularimg{
    border-radius: 25%;
}
.cardcontainer h3{
    font-size: 27px;
    margin:7px 0;
    font-weight: 900;
}
.cardcontainer p{
    margin:0;
    color:gray;
}
aside{
    padding-left: 110px;
}
aside ul{
    flex-wrap: wrap;
    justify-content: flex-start;
}
aside ul li{
    margin-right: 14px;
    margin-bottom: 7px;
    color: gray;
}
aside h6{
    margin: 0;
    font-size: 15px;
    font-weight: 900;
    word-spacing: 2.5px;
    margin-bottom: 10px;
    text-align: center;
}
aside span, aside li, .cardcontainer article, .article>div, .article, nav li{
    cursor: pointer;
}
aside>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:250px
}
.cardspan span{
    border: 1px solid lightgray;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 14px;
    color:gray
}
.starSpan>span, .article>div>span{
    display: flex;
    align-items: center;
}
.starSpan>span svg, .article>div>span svg{
    margin-left:5px;
}
.starSpan{
    color:gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.cardspan{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.asidefirstcard{
    height: 70%;
    border-bottom: 1px solid lightgray;
}
.boorderSpan{
    border-radius: 30px;
    padding:5px;
    background-color: rgb(235, 231, 231);
    color:gray;
}


@media screen  and (max-width:768px){
    .navigation, .rated, .container{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .title{
        padding-left: 3rem;
    }
    .rated{
        height: 500px;
    }
    .article{

        width:50%;
        margin-bottom: 1.5rem;
    }
    .container{
        flex-direction: column;
        padding-top: 25px;
    }
    .cardcontainer{
        order:1
    }
    aside{
        padding-left:0;
        height: 226px;
    }
    aside>div{
        height: 220px;
        justify-content: space-around;
    }
    .cardspan span{
        margin: 0px 7px 7px 0;
        
    }
    .cardspan{
        justify-content: flex-start; 
    }
    aside h6{
        margin-bottom: 15px;
        text-align: left;
    }
    .navigation svg{
        width: 7rem;
    }
    .navigation li{
        font-size:12px;
        padding: 10px 8px
    }
    .asidefirstcard{
        height:168px
    }
    aside ul li{
        margin-right: 6px;
    }
}
@media screen and (min-width:769px) and (max-width:1163px){  
    .navigation svg{
        width:7rem
    }
    .navigation li{
        padding: 10px 7px
    }
    .card{
        height: 27rem;
        justify-content: space-between;
    }
    .article{
        width:32%
    }
    .cardcontainer{
        height: 2500px;
    }
    aside{
        padding-left: 12px;
    }
    .cardspan span{
        padding: 5px;
        font-size: 11px;
    }
    .asidefirstcard{
        height: 213px;
    }
    aside ul{
        margin-top: 10px;
    }
}

@media screen and (max-width:576px){
    nav li:nth-of-type(1), nav li:nth-of-type(2), nav li:nth-of-type(3), .start svg{
        display:none
    }
    .card{
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .article{
        width:100%
    }
    .card{
        margin-top: 9rem
    }
    .rated{
        height:40rem
    }
    .cardcontainer{
        margin-top: 7.5rem;
    }
    aside ul{
        margin-top: 2rem;
    }
    .asidefirstcard{
        padding-bottom: 2rem;
        margin-top: 5rem;
    }
}

@media screen and (max-width:455px){
    .card{
        margin-top:11rem
    }
    .rated{
        height:52rem
    }
    .cardcontainer{
        margin-top: 18rem;
    }
    .asidefirstcard{
        height: 15rem;
        margin-top: 16rem;
    }
    
}
@media screen and (max-width:411px){
    .cardcontainer{
        margin-top:44rem
    }
    .cardcontainer article{
        margin-bottom:10rem
    }
    
}
@media screen and (max-width:375px){
    .card{
        margin-top:15rem
    }
    .title{
        padding-top: 2rem;
    }
    .cardcontainer article>div{
        width:120px
    }
}
